<% if defined?(current_user) && current_user %>
  <li class="dropdown pc-h-item">
    <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
      <span>
        <% if current_user.respond_to?(:fullname) %>
          <span class="user-name"><%= current_user.fullname %></span>
        <% else %>
          <span class="user-name"><%= current_user.email %></span>
        <% end %>
        <span class="user-desc"><%= current_user.email %></span>
      </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
      <% if defined?(edit_user_registration_path) %>
        <a href="<%= url_for edit_user_registration_path %>" class="dropdown-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
          <span><%= t('nextro.account_item.my_account') %></span>
        </a>
      <% end %>
      <% if defined?(destroy_user_session_path) %>
        <a href="<%= url_for destroy_user_session_path %>" class="dropdown-item" data-method="delete">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
          <span><%= t('nextro.account_item.logout') %></span>
        </a>
      <% end %>
    </div>
  </li>
<% end %>
